@import "../../sass/colors";

.allButtons {
  display: block;
  background: getColor("primary");
  border-radius: 80px;
  padding: 4px 0;
  width: 100px;
  text-align: center;
  margin: 0 auto;

  &.wideButton {
    width: 120px;
  }

  &:hover,
  &:focus {
    background: getColor("hover");
    outline: none;
  }

  &:disabled {
    background: getColor("disabled");
    color: getColor("white");
    cursor: auto;
  }
}
