@import "../../sass/colors";
@import "../../sass/mixins";

.inputFieldsWrapper {
  margin-bottom: 30px;
}

.formGroup {
  position: relative;
  color: getColor("formText");
  margin-bottom: 28px;
}

.inputFieldsWrapper .formGroup:nth-child(3) {
  margin-bottom: 21px;
}

.inputLabel {
  display: none;
  position: absolute;
  top: -7px;
  left: 16px;
  padding: 2px 4px;
  @include font-helper;
  background-color: getColor("background");

  &.touched {
    display: block;
  }

  &.error {
    color: getColor("error");
  }
}

.inputField {
  box-sizing: border-box;
  height: 54px;
  width: 100%;
  padding: 14px 16px;
  @include font-normal;
  color: getColor("formText");
  background-color: getColor("background");
  border: 1px solid getColor("border");
  border-radius: 4px;
  outline: none;

  &:focus {
    border: 2px solid getColor("border");
  }
  &.error {
    border: 2px solid getColor("error");
  }
}

.helperText {
  @include font-helper;
  padding: 4px 16px;
  color: getColor("formText");

  &.error {
    color: getColor("error");
  }
}

.radioContainer {
  margin-bottom: 47px;
}

.radioTitle {
  margin-bottom: 11px;
}

// .radioItem {
//   display: flex;
//   align-items: center;
// }

.radioButton {
  appearance: none;
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid getColor("border");
  margin-right: 12px;

  &:checked {
    border-color: #00bdd3;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background-color: #00bdd3;
      border-radius: 50%;
    }
  }
}
