@import "../../sass/mixins";
@import "../../sass/colors";

.heroSection {
  background: url("../../img/hero/mob.jpg");
  box-sizing: border-box;
  background-position: center bottom;
  padding: 40px 16px 71px;
  margin-bottom: 140px;

  @include mq(tab) {
    background: url("../../img/hero/tab.jpg");
  }

  @include mq(desk) {
    background: url("../../img/hero/desk.jpg");
  }
}

.title {
  @include font-h1;
  margin-bottom: 21px;
  color: getColor("white");
}

.descripton {
  color: getColor("white");
  text-align: center;
  margin-bottom: 32px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .heroSection {
    background: url("../../img/hero/mob@2x.jpg");
  }
}
