@import "../../sass/mixins";
@import "../../sass/colors";

.heroSection {
  min-width: 100%;
  background-image: url("../../img/hero/mob.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 140px;

  @include x2() {
    background-image: url("../../img/hero/mob@2x.jpg");
  }

  @include mq(tab) {
    background-image: url("../../img/hero/tab.jpg");
    // padding: 0;
    @include x2() {
      background-image: url("../../img/hero/tab@2x.jpg");
    }
  }

  @include mq(lap) {
    background-image: url("../../img/hero/lap.jpg");
    @include x2() {
      background-image: url("../../img/hero/lap@2x.jpg");
    }
  }

  @include mq(desk) {
    background-image: url("../../img/hero/desk.jpg");
    min-width: 1170px;
    margin: 0 auto 140px;
    @include x2() {
      background-image: url("../../img/hero/desk@2x.jpg");
    }
  }
}

.textContainer {
  padding: 40px 16px 71px;

  @include mq(tab) {
    width: 380px;
    margin: 0 auto;
    padding: 89px 0 88px;
  }
  @include mq(lap) {
    padding: 164px 0 163px;
  }
}

.title {
  @include font-h1;
  margin-bottom: 21px;
  color: getColor("white");
}

.descripton {
  color: getColor("white");
  text-align: center;
  margin-bottom: 32px;
}
