@import "../../sass/mixins";
@import "../../sass/colors";
.inputContainer {
  display: flex;
  flex-wrap: wrap;
  // height: 54px;
}

.uploadButton {
  padding: 14px 15px;
  border: 1px solid getColor("black");
  border-radius: 4px 0 0 4px;
  cursor: pointer;

  &.error {
    border: 2px solid getColor("error");
  }
}

.uploadFile {
  flex-basis: 0;
  flex-grow: 1;
  padding: 14px 16px;
  color: getColor("formText");
  border: 1px solid getColor("border");
  border-left: none;
  border-radius: 0 4px 4px 0;
  white-space: nowrap;
  overflow: hidden;
  @include font-normal;
  height: 26px;

  &.enabled {
    color: getColor("black");
  }

  &.error {
    border: 2px solid getColor("error");
    border-left: none;
  }
}

.errorMessage {
  box-sizing: border-box;
  width: 100%;
  height: 20px;
  @include font-helper;
  padding: 4px 0 0 16px;
  color: getColor("error");
}
