@import "../../sass/colors";

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: getColor("white");
  cursor: pointer;
  z-index: 100;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;
}

.logo {
  width: 104px;
  height: 26px;
  flex-shrink: 0;
}

.navList {
  display: flex;
  gap: 10px;
}
